/**********************************************
****                COMPOSERS
***********************************************/

.oo_what_composers_filters {
    padding: 10px;
    min-width: auto;
}


// --- TOP & BOTTOM BARS

.oo_what_composer_top_bar, .oo_what_composer_bottom_bar {
    padding: 10px;
    font-size: 1.1rem;
}

.oo_what_composer_bottom_bar {
    width: 100%;
}

.oo_what_composer_top_bar_results {
    display: flex;
    align-items: center;
    width: 250px;

    & span:is(.results_min_page, .results_max_page) {
        margin-left: 5px;
        margin-right: 5px;
    }
}

.oo_what_composer_top_bar_pagination {
    display: flex;
    align-items: center;

    & span:is(.results_count, .current_page, .total_page), & a:is(.prev_page, .next_page) {
        margin-left: 5px;
        margin-right: 5px;
    }

    & a:is(.prev_page, .next_page) {
        cursor: pointer;
        text-decoration: none;
    }
}

.oo_what_composer_top_bar_order_by {
    font-size: 1rem;

    & span.label {
        font-size: 1.2rem;
    }
}


// --- GRID

.oo_what_composer_grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(175px, 175px));
    padding: 10px 5px;
    justify-content: center;
}


.oo_composer_card {
    display: grid;
    grid-template-rows: 1fr auto;

    min-height: 175px;
    border-radius: 8px;
    background-size: cover;
    overflow: hidden;

    cursor: pointer;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s;
    transition-timing-function: ease;

    &:hover {
        box-shadow: 0 4px 16px 4px rgba(0, 0, 0, 0.8);

        & .oo_composer_card_infos {
            height: 50px;
        }
    }

    & .oo_composer_card_link {
        background-color: transparent;
        color: white;

        &:hover {
            color: var(--color-pink);
        }
    }
}

.oo_composer_card_infos {
    flex: 1;

    display: grid;
    grid-template-rows: 30px 20px;

    background: rgba(0, 0, 0, 0.7);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color: white;
    cursor: auto;

    height: 30px;
    transition: height 0.3s;
    transition-timing-function: ease;

    & div.name {
        display: grid;
        place-items: center;
        height: 30px;
        font-family: 'Lato';
    }

    & div.infos {
        display: grid;
        place-items: center;
        height: 20px;
    }
}


// ***********************************************
// ****                CARDS
// ***********************************************


.fa-spin-fast {
    -webkit-animation: fa-spin-fast .2s infinite linear;
    animation: fa-spin-fast .2s infinite linear;
}

@-webkit-keyframes fa-spin-fast {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}

@keyframes fa-spin-fast {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(359deg);
    }
}



.material-card {
    position: relative;

    height: 0;
    padding-bottom: calc(100% - 16px);
    //width: calc(100% - 160px);
    margin-bottom: 6rem;
    border: 1px solid blue;

    h2 {
        border: 1px solid green;
        position: absolute;
        top: calc(100% - 16px);
        left: 0;
        width: 100%;
        padding: 10px 16px;
        color: #fff;
        font-size: 1.4em;
        line-height: 1.6em;
        margin: 0;
        z-index: 10;

        transition: all 0.3s;

        span { display: block; }

        strong {
            font-weight: 400;
            display: block;
            font-size: .8em;
        }

        &:before,
        &:after {
            content: ' ';
            position: absolute;
            left: 0;
            top: -16px;
            width: 0;
            border: 8px solid;
            transition: all 0.3s;
        }

        &:after {
            top: auto;
            bottom: 0;
        }
    }

    &.mc-active {
        @media screen and (max-width: 767px) {
            padding-bottom: 0;
            height: auto;
        }

        h2 {
            top: 0;
            padding: 10px 16px 10px 90px;

            &:before {
                top: 0;
            }

            &:after {
                bottom: -16px;
            }
        }
    }

    .mc-content {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 16px;
        left: 16px;
        transition: all 0.3s;
    }

    .mc-btn-action {
        position: absolute;
        right: 16px;
        top: 15px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        border: 5px solid;
        width: 54px;
        height: 54px;
        line-height: 44px;
        text-align: center;
        color: #fff !important;
        cursor: pointer;
        z-index: 20;

        transition: all 0.3s;
    }

    &.mc-active .mc-btn-action {
        top: 62px;
    }

    .mc-description {
        position: absolute;
        top: 100%;
        right: 30px;
        left: 30px;
        bottom: 54px;
        overflow: hidden;
        opacity: 0;
        transition: all 0.7s;
    }

    .mc-footer {
        height: 0;
        overflow: hidden;
        transition: all 0.3s;

        h4 {
            position: absolute;
            top: 200px;
            left: 30px;
            padding: 0;
            margin: 0;
            font-size: 16px;
            font-weight: 700;

            transition: all 0.9s;
        }

        a {
            display: block;
            float: left;
            position: relative;
            width: 52px;
            height: 52px;
            margin-left: 5px;
            margin-bottom: 15px;
            font-size: 28px;
            color: #fff;
            line-height: 52px;
            text-decoration: none;
            top: 200px;

            &:nth-child(1) {
                transition: all 0.3s;
            }

            &:nth-child(2) {
                transition: all 0.4s;
            }

            &:nth-child(3) {
                transition: all 0.5s;
            }

            &:nth-child(4) {
                transition: all 0.6s;
            }

            &:nth-child(5) {
                transition: all 0.7s;
            }
        }
    }

    .img-container {
        overflow: hidden;
        position: absolute;
        background-size: cover;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 3;

        transition: all 0.3s;
    }

    &.mc-active {
        .img-container {
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            left: 0;
            top: 12px;
            width: 60px;
            height: 60px;
            z-index: 20;
        }

        .mc-content {
            padding-top: 5.6em;
            @media screen and (max-width: 767px) {
                position: relative;
                margin-right: 16px;
            }
        }

        .mc-description {
            top: 50px;
            padding-top: 5.6em;
            opacity: 1;

            @media screen and (max-width: 767px) {
                position: relative;
                top: auto;
                right: auto;
                left: auto;
                padding: 50px 30px 70px 30px;
                bottom: 0;
            }
        }

        .mc-footer {
            overflow: visible;
            position: absolute;
            top: calc(100% - 16px);
            left: 16px;
            right: 0;
            height: 82px;
            padding-top: 15px;
            padding-left: 25px;

            a {
                top: 0;
            }

            h4 {
                top: -32px;
            }
        }
    }
}

:root{
    --red-50: #FFEBEE;
    --red-100: #FFCDD2;
    --red-500: #F44336;
    --red-900: #B71C1C;
}

//@gm-Red-50: #FFEBEE;
//@gm-Red-100: #FFCDD2;
//@gm-Red-200: #EF9A9A;
//@gm-Red-300: #E57373;
//@gm-Red-400: #EF5350;
//@gm-Red-500: #F44336;
//@gm-Red-600: #E53935;
//@gm-Red-700: #D32F2F;
//@gm-Red-800: #C62828;
//@gm-Red-900: #B71C1C;
//@gm-Red-A100: #FF8A80;
//@gm-Red-A200: #FF5252;
//@gm-Red-A400: #FF1744;
//@gm-Red-A700: #D50000;

.material-card.Red {
    h2 {
        background-color: var(--red-500);
        &:after{
            border-top-color: var(--red-500);
            border-right-color: var(--red-500);
            border-bottom-color: transparent;
            border-left-color: transparent;
        }
        &:before {
            border-top-color: transparent;
            border-right-color: var(--red-900); // 900
            border-bottom-color: var(--red-900); // 900
            border-left-color: transparent;
        }
    }

    &.mc-active {
        h2 {
            &:before {
                border-top-color: transparent;
                border-right-color: var(--red-500);
                border-bottom-color: var(--red-500);
                border-left-color: transparent;
            }
            &:after {
                border-top-color: var(--red-900);
                border-right-color: var(--red-900);
                border-bottom-color: transparent;
                border-left-color: transparent;
            }
        }
    }

    .mc-btn-action {
        background-color: var(--red-500);
        &:hover {
            background-color: var(--red-900);
        }
    }
    .mc-footer {
        h4 {
            color: var(--red-900);
        }
        a {
            background-color: var(--red-900);
        }
    }
    &.mc-active {
        .mc-content {
            background-color: var(--red-50);
        }
        .mc-footer {
            background-color: var(--red-100);
        }
        .mc-btn-action {
            border-color: var(--red-50);
        }
    }
}



body {
    background-color: #ECEFF1;
    color: #37474F;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 16px;
}

h1, h2, h3 {
    font-weight: 200;
}
