
/**********************************************
****                WORKS
***********************************************/

.oo_what_work_mode_buttons{
    padding: 10px;
    //background: red;

    & button{
        width: 200px;
        margin: 5px;
        padding: 5px;
        border: 1px solid grey;
        border-radius: 5px;

        &:hover{
            border: 2px solid var(--color-pink);
            margin: 4px 5px 4px 5px;    // Anti "move" effect
        }

        &.active_mode{
            border: 2px solid var(--color-pink);
            background: var(--color-pink-a20);
            margin: 4px;
        }
    }
}

.oo_instrument_slot {
    //vertical-align: middle;
    //display: grid;
    //place-items: center;
}




/**********************************************
****                COMPOSERS
***********************************************/

.oo_what_composers_filters{
  padding: 10px;
  min-width: auto;
}


// --- TOP & BOTTOM BARS

.oo_what_composer_top_bar, .oo_what_composer_bottom_bar {
    padding: 10px;
    font-size: 1.1rem;
}
.oo_what_composer_bottom_bar{
     width: 100%;
 }

.oo_what_composer_top_bar_results{
    display: flex;
    align-items: center;
    width:250px;

    & span:is(.results_min_page, .results_max_page){
        margin-left: 5px;
        margin-right: 5px;
    }
}
.oo_what_composer_top_bar_pagination{
    display: flex;
    align-items: center;

    & span:is(.results_count, .current_page, .total_page), & a:is(.prev_page, .next_page){
        margin-left: 5px;
        margin-right: 5px;
    }
    & a:is(.prev_page, .next_page){ cursor: pointer; text-decoration: none;}
}
.oo_what_composer_top_bar_order_by{
    font-size: 1rem;
    & span.label{font-size: 1.2rem;}
}



// --- GRID

.oo_what_composer_grid{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(175px, 175px));
    padding: 10px 5px;
    justify-content: center;
}


.oo_composer_card {
    display: grid;
    grid-template-rows: 1fr auto;

    min-height: 175px;
    border-radius: 8px;
    background-size: cover;
    overflow: hidden;

    cursor: pointer;

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: box-shadow 0.3s;
    transition-timing-function: ease;

    &:hover{
        box-shadow: 0 4px 16px 4px rgba(0,0,0,0.8);

        & .oo_composer_card_infos{
            height: 50px;
        }
    }

    & .oo_composer_card_link{
        background-color: transparent;
        color: white;

        &:hover{
            color: var(--color-pink);
        }
    }
}

.oo_composer_card_infos {
    flex: 1;

    display: grid;
    grid-template-rows: 30px 20px;

    background: rgba(0, 0, 0, 0.7);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color: white;
    cursor: auto;

    height: 30px;
    transition: height 0.3s;
    transition-timing-function: ease;

    & div.name{
        display:grid;
        place-items:center;
        height: 30px;
        font-family: 'Lato';
    }
    & div.infos{
        display:grid;
        place-items:center;
        height: 20px;
    }
}





.input-min-max {
  display: grid;
  grid-template-columns: 40% auto auto;
  grid-gap: 5px;
  margin-bottom: 5px;
  align-items: center;
}
.input-min-max input {
  padding: 1px 10px;
  height: 35px;
}

