:root{
  --oo-primary: #16232b;
  --oo-secondary: #FC0254;

  --oo-link: var(--oo-primary);
  --oo-link-hover: var(--oo-secondary);


  // Override for material ux
  --switch-bg-active: #d1ebff;
  --switch-circle-active: var(--oo-primary);


}


// Shortcut to know where the color is picked
@function oo-color($key: "primary") {
  @return var(--oo-#{$key});
}