:root{
  --oo-primary: #16232b;
  --oo-secondary: #FC0254;

  --oo-link: var(--oo-primary);
  --oo-link-hover: var(--oo-secondary);


  // Override for material ux
  --switch-bg: #d0d0d0;
  --switch-circle: #fff;
  --switch-bg-active: #f8bbd0;
  --switch-circle-active: var(--oo-secondary);


}



// Shortcut to know where the color is picked
@function oo-color($key: "primary") {
  @return var(--oo-#{$key});
}