header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 12% 1rem;

  .oo_header_logo img {
    height: 50px;
  }


  nav.oo_navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;

    a {
      font-size: 1.3rem;
      font-family: 'Montserrat', sans-serif;
      margin-right: 3.5rem;
      color: oo-color("link");
      &:hover {
        color: oo-color("link-hover");
      }
    }

    i {
      font-size: 1.5rem;
      color: oo-color('primary');
      display: none;
    }
  }
}



@media screen and (max-width: 600px) {
  header nav.oo_navbar {
    & a {display: none;}
    & i {
      float: right;
      display: block;
    }
  }

  header nav.oo_navbar.responsive {

    & a {
      float: none;
      display: block;
      text-align: left;
    }

  }

}



footer {
  background-color: oo-color("primary");
  color: white;

  a {
    color: material-color("blue-grey", "300");
    &:hover {
      color: oo-color("secondary");
    }
  }
}


