
:root {
    // Can be overwritten to customize colors
    --switch-bg: var(--material-color-grey-300);
    --switch-circle: white;
    --switch-bg-active: material-color("teal", "200");
    --switch-circle-active: material-color("teal", "400");
}

// ---- Switch
div.mux.form-check {
    display: flex;
    margin: 1rem 0;
    padding-left: 0.5rem;

    & .form-check-label {
        position: relative;
        display: block;
        height: 20px;
        width: 44px;
        background: var(--switch-bg);
        border-radius: 100px;
        cursor: pointer;
        transition: all 0.3s ease;
        margin-right: 1rem;

        &:after {
            position: absolute;
            left: -2px;
            top: -3px;
            display: block;
            width: 26px;
            height: 26px;
            border-radius: 100px;
            background: var(--switch-circle);
            outline: 1px solid rgba(0, 0, 0, 0.1);
            box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.05);
            content: '';
            transition: all 0.3s ease;
        }

        &:active:after {
            transform: scale(1.15, 0.85);
        }
    }

    & .form-check-input {
        display: none;

        &:checked ~ label {
            background: var(--switch-bg-active);
        }

        &:checked ~ label:after {
            left: 20px;
            background: var(--switch-circle-active);
        }

        &:disabled ~ label {
            background: material-color("grey", "300");
            pointer-events: none;
        }

        &:disabled ~ label:after {
            background: material-color("grey", "400");
        }
    }

    &.double-label {

        & .form-check-label {
            margin-left: 12px;
            background: var(--switch-bg-active);

            &:after {
                background: var(--switch-circle-active);
            }
        }

        & span {
            opacity: 0.65;

            &.active {
                opacity: 1;
                //font-weight: bold;
            }
        }
    }
}