/**********************************************
****                COMPOSERS
***********************************************/

// Todo: refactor old classes

.oo_what_composers_filters {
    padding: 10px;
    min-width: auto;
}


// --- TOP & BOTTOM BARS

.oo_what_composer_top_bar, .oo_what_composer_bottom_bar {
    padding: 10px;
    font-size: 1.1rem;
}

.oo_what_composer_bottom_bar {
    width: 100%;
}

.oo_what_composer_top_bar_results {
    display: flex;
    align-items: center;
    width: 250px;

    //& span:is(.results_min_page, .results_max_page) {
    //    margin-left: 2px;
    //    margin-right: 2px;
    //}
}

.oo_what_composer_top_bar_pagination {
    display: flex;
    align-items: center;

    & span:is(.results_count, .current_page, .total_page), & a:is(.prev_page, .next_page) {
        margin-left: 5px;
        margin-right: 5px;
    }

    & a:is(.prev_page, .next_page) {
        cursor: pointer;
        text-decoration: none;
    }
}

.oo_what_composer_top_bar_order_by {
    font-size: 1rem;

    & span.label {
        font-size: 1.2rem;
    }
}


// --- GRID

.oo_what_composer_grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(175px, 175px));
    padding: 10px 5px;
    justify-content: center;
}


.oo_composer_card {
    display: grid;
    grid-template-rows: 1fr auto;

    min-height: 175px;
    border-radius: 8px;
    background-size: cover;
    overflow: hidden;

    cursor: pointer;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s;
    transition-timing-function: ease;

    &:hover {
        box-shadow: 0 4px 16px 4px rgba(0, 0, 0, 0.8);

        & .oo_composer_card_infos {
            height: 50px;
        }
    }

    & .oo_composer_card_link {
        background-color: transparent;
        color: white;

        &:hover {
            color: var(--color-pink);
        }
    }
}

.oo_composer_card_infos {
    flex: 1;

    display: grid;
    grid-template-rows: 30px 20px;

    background: rgba(0, 0, 0, 0.7);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    color: white;
    cursor: auto;

    height: 30px;
    transition: height 0.3s;
    transition-timing-function: ease;

    & div.name {
        display: grid;
        place-items: center;
        height: 30px;
        font-family: 'Lato';
    }

    & div.infos {
        display: grid;
        place-items: center;
        height: 20px;
    }
}




// ----------------------------------------------------------------------------------------------------------------------------


ul.oo_composer_cards_TMP {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    list-style: none;
    margin: 1rem;
    padding: 0.5rem;

    li.oo_composer_card_item {
        display: flex;
        flex: 1 1 18%;
        min-width: 230px;
        max-width: 18%;
        background-color: transparent;

        // Optional, kind of weird effect for now
        box-shadow: 7px 0 7px -6px rgba(0,0,0,0.4);
    }
}




// Todo: Move this card to the material_ux module

// ***********************************************
// ****                CARDS
// ***********************************************


.fa-spin-fast {
    -webkit-animation: fa-spin-fast .2s infinite linear;
    animation: fa-spin-fast .2s infinite linear;
}
@-webkit-keyframes fa-spin-fast {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(359deg);}
}
@keyframes fa-spin-fast {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(359deg);}
}


.material-card {
    position: relative;
    height: 0;
    padding-bottom: calc(100% - 16px);
    width: 100%;
    margin-bottom: 4.5rem;

    h2 {
        position: absolute;
        top: calc(100% - 16px);
        left: 0;
        width: 100%;
        white-space: nowrap;
        padding: 10px 16px;
        color: #fff;
        font-size: 1.2em;
        line-height: 1.6em;
        margin: 0;
        z-index: 10;
        transition: all 0.3s;

        span { display: block; }

        strong {
            font-weight: 400;
            display: block;
            font-size: .8em;
        }

        &:before,
        &:after {
            content: ' ';
            position: absolute;
            left: 0;
            top: -16px;
            width: 0;
            border: 8px solid;
            transition: all 0.3s;
        }

        &:after {
            top: auto;
            bottom: 0;
        }
    }
    &.mc-active {
        h2 {
            top: 0;
            padding: 10px 12px 10px 86px;
            &:before { top: 0; }
            &:after { bottom: -16px; }
        }
    }

    .mc-btn-action {
        position: absolute;
        right: 6%;
        top: 6%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        border: 3px solid;
        width: 3.4rem;
        height: 3.4rem;
        line-height: 2.6rem;
        text-align: center;
        color: #fff !important;
        cursor: pointer;
        z-index: 20;
        padding-top:3px;
        transition: all 0.3s;
    }
    &.mc-active .mc-btn-action { top: 23%; }

    .mc-content {
        position: absolute;
        right: 0;
        top: 0;
        bottom: -19px;
        left: 16px;
        transition: all 0.3s;
    }

    .mc-description {
        position: absolute;
        top: 100%;
        right: 12px;
        left: 12px;
        bottom: 30px;
        overflow-x: hidden;
        overflow-y: auto ;
        font-size: 0.9rem;
        line-height: 1.3rem;
        opacity: 0;
        transition: all 0.7s;


        scrollbar-width: thin;
        &::-webkit-scrollbar{ width: 5px; }
        &::-webkit-scrollbar-track{ background: #f1f1f1; }
        &::-webkit-scrollbar-thumb{ background: #888; }
        &::-webkit-scrollbar-thumb:hover{ background: #555; }
    }

    .mc-footer {
        height: 0;
        overflow: hidden;
        transition: all 0.3s;
        display: flex;
        flex-wrap: wrap;

        h4 {
            position: absolute;
            top: 200px;
            left: 16px;
            padding: 0;
            margin: 0;
            font-size: 1rem;
            font-weight: 700;
            transition: all 0.9s;
        }

        a {
            display: block;
            float: left;
            position: relative;
            margin-left: 5px;
            font-size: 1.2rem;
            color: #fff;
            width: 3rem;
            line-height: 3rem;
            text-decoration: none;
            top: 150px;
            cursor: pointer;

            &:nth-child(1) {transition: all 0.3s;}
            &:nth-child(2) {transition: all 0.4s, color 0.3s;}
            &:nth-child(3) {transition: all 0.5s, color 0.3s;}
            &:nth-child(4) {transition: all 0.6s, color 0.3s;}
            &:nth-child(5) {transition: all 0.7s, color 0.3s;}
        }
    }

    .img-container {
        overflow: hidden;
        position: absolute;
        background-size: cover;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        transition: all 0.3s;
    }

    &.mc-active {
        .img-container {
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            left: 0;
            top: 2.5%;
            width: 22%;
            height: 22%;
            z-index: 20;
        }

        .mc-content {
            padding-top: 5.6em;
        }

        .mc-description {
            top: 50px;
            padding-top: 0;
            margin-top: 4.2rem;
            opacity: 1;
        }

        .mc-footer {
            overflow: visible;
            position: absolute;
            top: 104%;
            left: 16px;
            right: 0;
            height: 4rem;
            padding: 0.5rem 1rem 0.5rem;

            a {top: 0;}
            h4 {top: -18px;}
        }
    }
}




$card-colors: "red", "pink", "purple", "deep-purple", "indigo", "blue", "light-blue", "cyan", "teal", "green", "light-green", "amber", "orange", "deep-orange", "brown", "grey", "blue-grey";
@each $color in $card-colors {
    .material-card.#{$color} {
        h2 {
            background-color: material-color($color, "500");
            &:after{
                border-top-color: material-color($color, "500");
                border-right-color: material-color($color, "500");
                border-bottom-color: transparent;
                border-left-color: transparent;
            }
            &:before {
                border-top-color: transparent;
                border-right-color: material-color($color, "900");
                border-bottom-color: material-color($color, "900");
                border-left-color: transparent;
            }
        }

        &.mc-active {
            h2 {
                &:before {
                    border-top-color: transparent;
                    border-right-color: material-color($color, "500");
                    border-bottom-color: material-color($color, "500");
                    border-left-color: transparent;
                }
                &:after {
                    border-top-color: material-color($color, "900");
                    border-right-color: material-color($color, "900");
                    border-bottom-color: transparent;
                    border-left-color: transparent;
                }
            }
        }

        .mc-btn-action {
            background-color: material-color($color, "500");
            &:hover {
                background-color: material-color($color, "900");
            }
        }
        .mc-footer {
            h4 {
                color: material-color($color, "900");
            }
            a {
                background-color: material-color($color, "900");
                &:hover{
                    background-color: material-color($color, "500");
                }
            }
        }
        &.mc-active {
            .mc-content {
                background-color: material-color($color, "50");
            }
            .mc-footer {
                background-color: material-color($color, "100");
            }
            .mc-btn-action {
                border-color: material-color($color, "50");
            }
        }
    }
}

