:root {
  // Can be overwritten to customize colors
  --switch-bg: material-color("grey", "300");
  --switch-circle: white;
  --switch-bg-active: material-color("teal", "200");
  --switch-circle-active: material-color("teal", "400");




}